@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');

html, body {
    font-family: 'Athiti', sans-serif;
}

section.header {
    background: #ffffff url("../img/background.jpg") no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    /*margin-bottom: 15px;*/
}

section.header > div.title {
    color: #ffffff;
    font-size: xx-large;
    text-align: center;
    transition: ease-out .5s;
    padding-top: 60px;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.img-edu > img {
    transition: ease-out .5s;
}

.banner {
    color: white;
    text-align: center;
    margin-top: 200px;
    padding-bottom: 220px;
}

.banner p {
    font-size: 25px;
    margin-bottom: 0;
}

.banner h1 {
    margin: 0;
    font-size: 144px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.banner button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    padding: 13px 20px;
    border-radius: 50px;
}

