@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');

html, body {
    font-family: 'Athiti', sans-serif;
    margin: 0;
}

section.header {
    background: #ffffff url("../img/background.jpg") no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    /*margin-bottom: 15px;*/
}

section.header > div.title {
    color: #ffffff;
    font-size: xx-large;
    text-align: center;
    transition: ease-out .5s;
    padding-top: 60px;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}


