section.career {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/career/ml_background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.career_info {
    display: block;
    justify-content: start;
    align-items: start;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

.career_info > h1 {
    font-size: 48px;
}

